# Compiled class files
*.class
*.jar
*.war
*.ear

# Eclipse-specific files
.classpath
.project
.settings/
.metadata/

# Build directories
bin/
target/
build/

# Log files
*.log

# OS Files
.DS_Store
Thumbs.db
desktop.ini